.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: var(--color-primary);
  height: auto;
  padding: 20px;
  color: var(--color-white);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.App-title {
  font-size: 1.5em;
  flex: 1;
  text-align: center;
}

.App-header-img {
  height: 80px;
  pointer-events: none;
  margin-right: 20px;
  justify-self: flex-start;
}

.App-header-language {
  height: auto;
  margin-left: 20px;
  justify-self: flex-end;
}

.App-header-menu {
  margin-right: 20px;
  justify-self: flex-start;
}

.App-name {
  flex: 1;
  text-align: center;
}

.App-header-dropdown {
  margin-right: auto;
  justify-self: flex-end;
}

.App-intro {
  font-size: large;
}

.landing-container {
  margin: 0px;
  padding: 0px;
}

.menu-transparent {
  background: transparent !important;
}
.menu-listitem {
  transition: background 0.2s;
}
.menu-listitem:hover {
  background: var(--color-primary-light) !important;
}
.menu-listitem.selected {
  background: var(--color-primary-alpha-10) !important;
}
.menu-secondary {
  background: transparent !important;
}
.menu-secondary .menu-listitem {
  background: var(--color-primary-alpha-10) !important;
}
.menu-secondary .menu-listitem:hover {
  background: var(--color-primary-light) !important;
}

@keyframes App-logo-spin {
  from {
    transform: rotate3d(0, 1, 0, 0deg);
  }
  to {
    transform: rotate3d(0, 1, 0, 0deg);
  }
}
